body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8f0d8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 500px;
    width: 90%;
}

h1 {
    font-size: 32px;
    color: #2F2F2F;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    font-weight: normal;
    color: #2F2F2F;
}

::placeholder {
    color: #888;
    font-weight: normal;
    font-style: normal;
}

button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #4D87CC;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #FFC107;
    color: black;
}

.textboxreg {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    font-weight: normal;
    color: #2F2F2F;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f8f0d8;
    font-size: 25px;
    z-index: 1000;
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-weight: bold;
    color: #2F2F2F;
    font-size: 1.5rem;
}

.nav-link {
    color: #000000;
    font-weight: 500;
    transition: all 0.3s ease;
    margin-left: 1rem;
}

.nav-link:hover {
    color: #FFD369 !important;
}

.nav-item.active .nav-link {
    border-bottom: 2px solid #FFD369;
    font-weight: bold;
    color: #FFD369 !important;
}
