<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='register.css') }}">
    <title>Register</title>
</head>
<body>
    {% include "nav.html" %}
    <div class="container">
        <h1>Create your Account</h1>
        <form action="{{ url_for('register') }}" method="post">
            <div>{{ msg }}</div>
            <input class="textboxreg" name="username" placeholder="Enter Username" required>
            <input class="textboxreg" name="password" placeholder="Enter Password" required>
            <input class="textboxreg" name="email" placeholder="Enter Email" required>
            <button class="btn" type="submit">Sign Up</button>
            <style>
                    .btn{
                        background-color: #4D87CC;
                    }
                    .btn:hover {
                        background-color: #FFC107;
                        color: black;
                    }
                </style>
        </form>
    </div>
</body>
</html>
